# Measures of Central Tendancy

An essential statistical concept is the “measure of central tendency“. This measure is an important way to summarize the dataset with one representative value. This measure provides a rough picture of where data points are centered. The commonly used measures of central tendency are:

#### Mode: the most frequent value.

#### Median: the middle number in an ordered dataset.

#### Mean: the sum of all values divided by the total number of values.

<div class="alert alert-block alert-info" style="margin-top: 40px">
<h1> Mode </h1><br><br>
<b>The mode is the most frequently occurring value in the dataset.<br> 
It’s possible to have no mode, one mode, or more than one mode.</b>
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1] Mode for Ungrouped data

Suppose we have the following Dataset as Age of People

In [2]:
df = pd.DataFrame([5,12,13,5,18,20,19,18,20,55,60,18,12,13,19])

In [3]:
df = df[0].value_counts().sort_index().reset_index()
df.columns = ['Age','frequency']
df

   Age  frequency
0    5          2
1   12          2
2   13          2
3   18          3
4   19          2
5   20          2
6   55          1
7   60          1

To Find Mode

In [17]:
mode = df.frequency.value_counts().to_dict()

In [28]:
max_freq = max(mode.values())
max_freq_key = [k for k, v in mode.items() if v == max_freq][0]

In [29]:
mode_of_data = f'{max_freq_key} : {max_freq}'

In [30]:
mode_of_data

'2 : 5'